<h2>Course Info</h2>

<hr/>

<form #courseForm='ngForm' *ngIf="course">

    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [ngClass]="{'is-invalid' : courseName.invalid}" required name="name" #courseName="ngModel" [(ngModel)]="course.name">
            <div class="invalid-feedback">
                <span>Course name is required</span>
            </div>
        </div>
       
    </div>
    <br>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" [ngClass]="{'is-invalid' : coursePrice.invalid}" required name="price" #coursePrice="ngModel" [(ngModel)]="course.price">
            <div class="invalid-feedback">
                <span>Course price is required</span>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Rating</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" [ngClass]="{'is-invalid' : courseRating.invalid}" required name="rating" #courseRating="ngModel" [(ngModel)]="course.rating">
            <div class="invalid-feedback">
                <span>Course rating is required</span>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea  class="form-control" [ngClass]="{'is-invalid' : courseDescription.invalid}" required name="description" #courseDescription="ngModel" [(ngModel)]="course.description"></textarea>
            <div class="invalid-feedback">
                <span>Course description is required</span>
            </div>
        </div>
    </div>

    <button [disabled]='courseForm.invalid' class="btn btn-primary mr-2" (click)="save()">Save</button>
    <button [routerLink]="['/courses']" class="btn btn-secondary">Back</button>
</form>